@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
* {
    font-family: 'Advent Pro', sans-serif;
}
img
{
	width: 375px;
	height: 375px;
}

.dropdown-menu {
  color: #212529;
  background-color: transparent;
  border: none;
  border-radius: none;
}

.dropdown-item
{
  margin-top: 0.25rem;
  padding: 1rem 1.5rem;
  color: #212529;
  background-color: #f8f9fa;
  border: 0;
  font-size: 23px;
}

.dropdown-item:hover
{
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
  }

.nav-link
  {
	  font-size: 23px;
	  font-weight: 500;
	  color: black;
	  margin: 0 20px;
  }



@media all and (min-width: 992px)
{

	.navbar .nav-item .dropdown-menu
	{
		display: none;
	}

	.navbar .nav-item:hover .nav-link
	{
		color: blue;
	}

	.navbar .nav-item:hover .dropdown-menu
	{
		display: block;
	}

	.navbar .nav-item .dropdown-menu
	{
		margin-top:0;
	}
}
