:root{
  --first-theme-color: #036cb0; /*Lighter blue of the three*/
  --second-theme-color: #035483;
  --third-theme-color:  #033651; /*Darkest blue of the three*/
  --footer-color: #3d3d3d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro', sans-serif;

}
body {
	background-color:  var(--third-theme-color);
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.slider {
	box-shadow: 20 20 20 20 black;
}
.container-fluid:nth-of-type(1)
{
  /*background-color: var(--footer-color);*/

}

.btn-primary {
  font-size: 1.1em;
  background-color: var(--first-theme-color);
}

.btn:hover
{
  background-color: white;
  color: var(--third-theme-color);
}

/*Text over Slideshow*/
.main-text
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
	background-color: rgba(0,0,0,0.50);
}
/*@media all and (max-width: 767px) {
	.caption {
		width: 100%;
	}
}
*/

#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}
#myCarousel {
	width: 100%;
	margin: 0 auto;
}
#myCarousel .carousel-inner img {
	width: 100%;
	max-height: 600px;
}
@media all and (max-width: 767px) {
	#myCarousel {
		width: 100%;
	}
}